# Medidas de Tendência Central

In [9]:
import numpy as np 
import pandas as pd 
import statistics
from scipy import stats

In [3]:
path = "../data/IBM-313 Marks.xlsx"
table = pd.read_excel(path)
table.head()

   S.No.  MTE (25)  Mini Project (25)  Total (50)  ETE (50)  Total
0      1      5.00                 20       25.00      12.0  37.00
1      2     11.05                 20       31.05      26.0  57.05
2      3      8.10                 20       28.10      14.0  42.10
3      4      6.00                 10       16.00      13.0  29.00
4      5     11.35                 20       31.35      17.0  48.35

Média

In [4]:
table['Total'].mean()

46.90632911392405

Mediana

In [5]:
table['Total'].median()

45.0

Moda

In [6]:
table['Total'].mode()

0     0.00
1    38.00
2    39.70
3    41.00
4    42.70
5    43.50
6    48.35
Name: Total, dtype: float64

In [21]:
x = table['Total']
statistics.multimode(x)

[48.35, 43.5, 38.0, 42.7, 39.7, 41.0, 0.0]