# Mortes por tuberculose em países de língua portuguesa

Durante a Conferência das Nações Unidas, realizada em 2012 no Rio de Janeiro (Brasil), a Organzação das Nações Unidas (ONU) estabeleceu os 17 Objetivos de Desenvolvimento Sustentável (ODS). "Os Objetivos de Desenvolvimento Sustentável são um apelo global à ação para acabar com a pobreza, proteger o meio ambiente e o clima e garantir que as pessoas, em todos os lugares, possam desfrutar de paz e de prosperidade" ([ONU, 2022](https://brasil.un.org/pt-br/sdgs)).

Dentre os objetivos estabelecidos, a instituição deseja "até 2030, acabar com as epidemias de AIDS, tuberculose, malária e doenças tropicais negligenciadas, e combater a hepatite, doenças transmitidas pela água, e outras doenças transmissíveis"([ONU, 2022](https://brasil.un.org/pt-br/sdgs)).

Dada a população e o número de mortes por TB em alguns países durante um ano, as seguintes perguntas serão respondidas:

- Qual é o número total, máximo, mínimo e médio de óbitos naquele ano?
- Quais países têm mais e menos mortes?
- Qual é a taxa de mortalidade (mortes por 100.000 habitantes) para cada país?
- Quais países têm a menor e a maior taxa de mortalidade?

A taxa de mortalidade permite uma melhor comparação de países com tamanhos populacionais muito diferentes.

## Os dados

Os dados consistem na população total e no número total de óbitos por TB (excluindo HIV) em 2013 em cada um dos BRICS (Brasil, Rússia, Índia, China, África do Sul) e países de língua portuguesa.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv('../data/who_pop_all.csv')
data.columns=['Country', 'Year', 'TB Deaths', 'TB Deanths (per 100,000)']
data.head()

       Country  Year           TB Deaths TB Deanths (per 100,000)
0  Afghanistan  2020  11000 [6300-16000]               27 [16-41]
1  Afghanistan  2019   9800 [5900-15000]               26 [15-39]
2  Afghanistan  2018  11000 [6400-16000]               29 [17-44]
3  Afghanistan  2017  11000 [6400-16000]               30 [18-45]
4  Afghanistan  2016  12000 [7100-18000]               34 [20-51]