# Aula 02 - Fundamentos de Python

- Bibliotecas necessárias

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
plt.style.use('fivethirtyeight')

- Carregamento dos dados

A base de dados é constituída de informações referentes à população, continente, expectativa de vida e PIB<sup><a href="#fn1" id="ref1">1</a></sup> *per capta* de diversos países entre os anos de 1952 a 2007.

<hr></hr>
<sup id="fn1">1. Produto Interno Bruto<a href="#ref1" title="Voltar ao texto.">↩</a></sup>

In [21]:
df = pd.read_csv('../data/gapminder-FiveYearData.csv')

In [22]:
df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [23]:
print(f"O conjunto de dados contém {df.shape[0]} linhas e {df.shape[1]} colunas.")

O conjunto de dados contém 1704 linhas e 6 colunas.

Os nomes das colunas são:

In [24]:
df.columns

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

Tipos de dados:

In [25]:
df.dtypes

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [26]:
country_list = df['country'].unique()
print(f"Os dados referem-se a aum total de {len(country_list)} países.")

Os dados referem-se a aum total de 142 países.